/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* 
Colors
#f6f7f8 color
#254441 bg
#305853 hover

*/

html {
  font-size: 62.5%;
  /* font-size: 10px; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-nav a {
  background-color: #254441;
  color: #f6f7f8;
  text-decoration: none;
  font-family: lato;
  font-weight: bold;
  font-size: 2rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}

#main-nav a:hover {
  background-color: #305853;
}

#main-nav ul {
  display: flex;
  list-style: none;
}

#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
}

#main-nav li:hover .submenu > li {
  display: block;

}
.submenu li {
  display: none;
  position: relative;
  top: 0;
}
.submenu, .submenu-2 {
  flex-direction: column;
  position: absolute;
}
.submenu {
  width: 100%;
}
.submenu-2 {
  top: 0px;
  left: 100%;
  min-width: 100%;
  white-space: nowrap;
}

.submenu li:hover .submenu-2 > li {
  display: block;
  opacity: 1;
}

.submenu-2 li {
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}

.arrow {
  color: #eee;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
